@import "bootstrap-icons/font/bootstrap-icons.css";


/* variables {--secondary: rgb(92, 216, 80)}*/
:root {
    --primary: white;
    --secondary: #5cd850;
    --tertiary:  rgb(2, 2, 2);
  }

  /* reset */
body,p,a,li{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  /* base styles */
body{
    background:var(--tertiary);
    font-size: 11px;
    overflow-x: hidden; 
  }
.generalBtn{
  padding: 5px;
  margin: 5px;
  background: var(--primary);
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}
.generalBtn:hover{
  background-color: var(--secondary);
}

  /* fonts */
h1,h2,h3,h4 {
    color: rgb(147, 212, 144);
  }
  a, li,p, hr {
    color: var(--primary)
  }

  
  
  /* mobile(default) styles */
  #header{
    padding: 5px;
    position: sticky;
    background: rgba(2, 2, 2, 0);
    top: 0px;
    z-index: 1;
  }

  #header button{
    background-color: var(--tertiary);
    color: var(--primary);
    border-radius: 10px;
    width: 15%;
    height: 40px;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  html:not([data-scroll="0"]) #header {
    position: sticky;
    top: 0;
    background-color: rgba(2, 2, 2, 0.95); 
    opacity: 0.9;
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
    transition: 0.4s linear;
  }
  .logo{
    padding: 1px;
    margin-right: 0px;
  }
  .logoname{
    width: 65%;
  }
  #navList2{
    display: none;
  }
  .bannerImg{
    width: 100%;
    height: 700px;
  }
  .bannerText{
    width: 90%;
    text-align: left;
    top: 60%;
    left: 50%;
  }
  .bannerText h1{
    font-size: 2em;
    color: var(--primary)
  }
  .bannerText p{
    font-style: italic;
    font-size: 1.1em;
  }
  .bannerIcons{
    font-size: 1.5em;
    
  }
  .bannerIcons i{
    padding: 5px;
    margin: 5px;
    color: var(--secondary);
  }
  .bannerIcons i:hover{
    background: var(--primary);
    border-radius: 50px;
  }

  @keyframes movein {
    from {width: 10%;}
    to {width: 100%;}
  }
  @keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }
  #navList{
    background: var(--tertiary);
    font-size: 1.5rem;
    position: absolute;
    margin-top: 4px;
    z-index: 1;
    width: 100%;
    height: 1000px;
    opacity: 0.9;
    right: 0;
    animation: movein 0.5s;
    display: none;
  }
  .navItem{
    text-align: center;
    padding: 10px;
  }
  .navItem:hover{
    background-color: var(--secondary);
  }
 .homeHeader{
    padding: 2px;
    margin-left: 25px;
    font-size: 1.5em;
 }
  .homeCard{
    
    padding: 10px;
    margin: 15px auto;
    margin-bottom: 20px;
    height: fit-content;
    width: 85%;
    text-align: center;
    background: var(--primary);
  }
  .homeCard:hover{
    cursor: pointer;
    background: var(--secondary);
  }
  .homeCard h1{
    color: var(--tertiary);
    padding: 5px;
    font-size: 2em;
    margin: 10px;
    margin-bottom: 5px;
    text-align: left;
  }
  .homeCard p{
    color: var(--tertiary);
    margin: 15px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 1.5em;
  }
  .homeCardImg{
    width: 95%;
    padding-top: 10px;
    height: 200px;
  }
  .homeCardGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .blogBannerImg{
    width: 100%;
    height: 400px;
  }
  .blogPageTitle{
    font-size: 1.3em;
  }
  #blogPostCard{
    padding: 10px;
  }
  #blogPostCard h1{
    color: var(--primary);
    font-size: 2.5em;
  }
  #blogPostCard span{
    color: var(--secondary);
    font-size: 1.3em;
  }
  .blogImages{
    width: 80%;
    margin: 10px auto;
  }
  #blog{
    padding: 10px;
    color: var(--primary);
  }
  #blog i, p{
    font-size: 1.5em;
  }
  #contact{
    padding: 10px;
    margin: 5px;
  }
  .form{
    padding: 5px;
    margin: 5px;
    width: 80%; 
    border-radius: 10px;
  }

  @keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  




  .footerGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #footer{
    background: hsl(0, 0%, 8.5%);
    padding: 10px;
    text-align: center;
  }
  #footer p{
    color: var(--primary);
    font-size: 1em;
  }
  #footer i{
    font-size: 1.5em;
    margin: 10px auto;
    padding: 5px;
    color: var(--secondary);
  }
  #footer i:hover{
    background: var(--primary);
    border-radius: 50%;
    padding: 5px;
  }
  .footerBtn{
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 10px;
  }










  /* media queries */

/* small tab styles */
@media screen and (min-width: 620px){
      .bannerText{
        width: 80%;
        text-align: left;
        top: 45%;
        left: 50%;
      }
      #homeCardGrids {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      .homeCard{
        width: 85%;
        height: 90%;
        grid-row: span 1;
        margin: 10px auto;
        margin-bottom: 20px;
      }
      .blogImages{
        width: 60%;
      }
}

/* large tab and mini laptops styles */
@media screen and (min-width: 960px){
  .bannerText{
    width: 80%;
    text-align: left;
    top: 70%;
    left: 50%;
  }
  .bannerImg{
    height: 600px;
  }
    #navList{
        display: none;
    }
    .navBtn{
        display: none;
    }
    .logoname{
        width: 30%;
    }
    #navList2 {
        display: flex;
        float: right;
        height: auto;
        font-size: 1.2rem;
        align-items: right;
        justify-content: right;
        position: relative;
        margin: 5px auto;
      }
      .navItem2{
        color: var(--primary);
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5px 5px;
        margin: 5px;
      }
      .navItem22{
        color: var(--primary);
        background-color: var(--secondary);
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5px 5px;
        margin: 5px;
      }
      .navItem2:hover{
        background: var(--secondary);
      }
      #homeCardGrids {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      .homeCard{
        width: 85%;
        height: 90%;
        grid-row: span 1;
        margin: 10px auto;
        margin-bottom: 20px;
      }
      .blogBannerImg{
        height: 500px;
        width: 50%;
        float: right;
        margin-right: 2px;
     }
      
        
      

      
}

/* desktop styles */
@media screen and (min-width: 1200px){

  .bannerText{
    top: 60%;
  }
}